/* line 1, ../../../src/scss/_defaults.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../../../src/scss/_defaults.scss */
body {
  background: white;
  color: black;
  font-size: 16px;
  line-height: 24px; }

/* line 12, ../../../src/scss/_defaults.scss */
h1 {
  font-size: 24px;
  font-weight: normal;
  color: #1197B8;
  line-height: 1.33em; }

/* line 19, ../../../src/scss/_defaults.scss */
h1:first-child {
  margin-top: 0; }

/* line 23, ../../../src/scss/_defaults.scss */
h2 {
  font-size: 18px;
  font-weight: normal;
  color: #1197B8;
  line-height: 1.33em; }

/* line 30, ../../../src/scss/_defaults.scss */
label {
  cursor: pointer; }

/* line 34, ../../../src/scss/_defaults.scss */
input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle; }

/* line 39, ../../../src/scss/_defaults.scss */
input[type="text"] {
  padding: 12px; }

/* line 43, ../../../src/scss/_defaults.scss */
button {
  padding: 8px 22px;
  font-weight: bold;
  letter-spacing: 0.07em; }

@media print {
  /* line 3, ../../../src/scss/_print.scss */
  #main {
    padding: 0 !important; }

  /* line 7, ../../../src/scss/_print.scss */
  #menu {
    display: none; }

  /* line 11, ../../../src/scss/_print.scss */
  *, *:hover, *:focus {
    background: white !important; }

  /* line 15, ../../../src/scss/_print.scss */
  #canvas-help {
    display: none; }

  /* line 19, ../../../src/scss/_print.scss */
  #canvas footer {
    font-size: 10px; } }
/* line 3, ../../../src/scss/_ui.scss */
body.is-loading #loading {
  background: white;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  z-index: 8192;
  width: 100%; }

/* line 18, ../../../src/scss/_ui.scss */
#loading {
  opacity: 0;
  display: none; }
  /* line 23, ../../../src/scss/_ui.scss */
  #loading .bubbleLoad {
    text-align: center;
    width: 240px;
    height: 150px;
    margin: auto;
    margin-top: 5%; }
  /* line 31, ../../../src/scss/_ui.scss */
  #loading .bubbleLoad span {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin: 75px auto;
    background: #1197B8;
    border-radius: 150px;
    -webkit-animation: bubbleLoad 0.8s infinite alternate;
    animation: bubbleLoad 0.8s infinite alternate; }
  /* line 42, ../../../src/scss/_ui.scss */
  #loading #bubbleLoad1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  /* line 46, ../../../src/scss/_ui.scss */
  #loading #bubbleLoad2 {
    -webkit-animation-delay: 0.24s;
    animation-delay: 0.24s; }
  /* line 50, ../../../src/scss/_ui.scss */
  #loading #bubbleLoad3 {
    -webkit-animation-delay: 0.48s;
    animation-delay: 0.48s; }
@-webkit-keyframes bubbleLoad {
  0% {
    width: 30px;
    height: 30px;
    background-color: #1197B8;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    width: 72px;
    height: 72px;
    background-color: #FFFFFF;
    -webkit-transform: translateY(-63px);
    transform: translateY(-63px); } }
@keyframes bubbleLoad {
  0% {
    width: 30px;
    height: 30px;
    background-color: #1197B8;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    width: 72px;
    height: 72px;
    background-color: #FFFFFF;
    -webkit-transform: translateY(-63px);
    -ms-transform: translateY(-63px);
    transform: translateY(-63px); } }
/* line 2, ../../../src/scss/_minigrid.scss */
.minigrid:after {
  display: table;
  content: "";
  clear: both; }

/* line 10, ../../../src/scss/_minigrid.scss */
.minigrid .col {
  float: left;
  max-width: 100%; }
  /* line 15, ../../../src/scss/_minigrid.scss */
  .minigrid .col.w3 {
    width: -webkit-calc(100%/4);
    width: calc(100%/4); }
  /* line 19, ../../../src/scss/_minigrid.scss */
  .minigrid .col.w4 {
    width: -webkit-calc(100%/3);
    width: calc(100%/3); }
  /* line 23, ../../../src/scss/_minigrid.scss */
  .minigrid .col.w6 {
    width: 50%; }
  /* line 27, ../../../src/scss/_minigrid.scss */
  .minigrid .col.w8 {
    width: -webkit-calc(100%/1.5);
    width: calc(100%/1.5); }
  /* line 31, ../../../src/scss/_minigrid.scss */
  .minigrid .col.centered {
    margin: auto;
    float: none; }

@media all and (max-width: 768px) {
  /* line 44, ../../../src/scss/_minigrid.scss */
  .minigrid .col.w3, .minigrid .col.w4, .minigrid .col.w6 {
    width: 100%; } }
/* line 3, ../../../src/scss/_menu.scss */
#menu {
  background: black;
  background-size: 75% auto;
  background-position: left 50% bottom 15px;
  background-image: url(../img/bgs/logo_w.png);
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: auto;
  padding-top: 64px;
  padding-bottom: 96px;
  width: 50px;
  z-index: 4096; }
  /* line 21, ../../../src/scss/_menu.scss */
  #menu ul {
    padding: 0;
    margin: 0 16px;
    overflow: hidden; }
  /* line 27, ../../../src/scss/_menu.scss */
  #menu li {
    box-shadow: 0 -1px 0 #333 inset, 0 1px 0 #666 outset;
    list-style: none; }
  /* line 33, ../../../src/scss/_menu.scss */
  #menu li a {
    background: #ccc;
    box-shadow: inset 0px 1px 0 #fff, inset 0 -1px 0 #333;
    color: #333;
    display: block;
    font-size: 125%;
    margin-bottom: 4px;
    padding: 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0 #eee; }
  /* line 45, ../../../src/scss/_menu.scss */
  #menu.is-visible {
    background-image: url(../img/bgs/wiremore_logo_wb.png);
    width: 280px; }
    /* line 50, ../../../src/scss/_menu.scss */
    #menu.is-visible .content {
      height: auto;
      opacity: 1;
      width: 100%;
      max-width: 100%; }
    /* line 59, ../../../src/scss/_menu.scss */
    #menu.is-visible .hamburger span {
      background: transparent; }
    /* line 63, ../../../src/scss/_menu.scss */
    #menu.is-visible .hamburger span:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 6px 4px;
      -ms-transform-origin: 6px 4px;
      transform-origin: 6px 4px; }
    /* line 68, ../../../src/scss/_menu.scss */
    #menu.is-visible .hamburger span:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 5px 0px;
      -ms-transform-origin: 5px 0px;
      transform-origin: 5px 0px; }
  /* line 77, ../../../src/scss/_menu.scss */
  #menu .hamburger {
    background: transparent;
    border: 0;
    display: inline-block;
    height: 44px;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 44px;
    outline: 0; }
    /* line 89, ../../../src/scss/_menu.scss */
    #menu .hamburger span {
      background: white;
      border-radius: 4px;
      display: block;
      height: 4px;
      position: absolute;
      left: 6px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      top: 20px;
      width: 32px; }
      /* line 101, ../../../src/scss/_menu.scss */
      #menu .hamburger span:before, #menu .hamburger span:after {
        background: white;
        border-radius: 4px;
        content: "";
        display: block;
        height: 4px;
        left: 0;
        position: absolute;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 100%; }
      /* line 114, ../../../src/scss/_menu.scss */
      #menu .hamburger span:before {
        top: -8px; }
      /* line 118, ../../../src/scss/_menu.scss */
      #menu .hamburger span:after {
        bottom: -8px; }
  /* line 127, ../../../src/scss/_menu.scss */
  #menu .content {
    color: white;
    height: 1px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 50px;
    overflow: hidden; }

/* line 3, ../../../src/scss/_canvas.scss */
#canvas header h1 {
  margin-bottom: 0; }
/* line 7, ../../../src/scss/_canvas.scss */
#canvas main h1 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 12px; }
/* line 13, ../../../src/scss/_canvas.scss */
#canvas footer {
  font-size: 12px; }
/* line 17, ../../../src/scss/_canvas.scss */
#canvas .info [contenteditable] {
  background: #eee;
  display: inline-block;
  font-size: 12px;
  padding: 8px;
  min-width: 8px;
  max-height: 2.2em;
  overflow: hidden;
  vertical-align: middle;
  line-height: 1em; }
/* line 29, ../../../src/scss/_canvas.scss */
#canvas .info [contenteditable] > * {
  display: inline; }
/* line 33, ../../../src/scss/_canvas.scss */
#canvas .content {
  margin: -10px;
  padding: 10px;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
  height: 100%;
  height: -webkit-calc(100% - 14px);
  height: calc(100% - 14px); }
/* line 41, ../../../src/scss/_canvas.scss */
#canvas .content:focus {
  outline: 0;
  background: rgba(0, 0, 0, 0.05); }
/* line 46, ../../../src/scss/_canvas.scss */
#canvas .help {
  display: none; }
/* line 50, ../../../src/scss/_canvas.scss */
#canvas .help p {
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 16px; }
/* line 58, ../../../src/scss/_canvas.scss */
#canvas.show-description .help {
  display: block; }
/* line 62, ../../../src/scss/_canvas.scss */
#canvas.show-description .content {
  display: none; }

/* button#canvas-help {
	// background: url(../img/icons/1410996061_help-file.png) no-repeat center;
	background-size: 60%;
	border: 0;
	outline: 0;
	font-size: 0;
	// color: rgba(255,255,255,0);
	position: fixed;
	top: 32px;
	right: 0;
	width: 64px;
	height: 64px;
	background-color: rgb(238, 238, 238);
	border-radius: 50%;
	box-shadow: 2px 2px 15px -5px #000;
}
 */
@media all and (min-width: 768px) {
  /* line 90, ../../../src/scss/_canvas.scss */
  #canvas {
    max-width: 100%;
    /* borders */
    /* specific sizes */ }
    /* line 97, ../../../src/scss/_canvas.scss */
    #canvas main {
      min-height: 610px; }
      /* line 101, ../../../src/scss/_canvas.scss */
      #canvas main > .table {
        min-height: 610px; }
    /* line 107, ../../../src/scss/_canvas.scss */
    #canvas .table {
      display: table;
      width: 100%;
      height: 100%; }
    /* line 113, ../../../src/scss/_canvas.scss */
    #canvas .table .row {
      display: table-row; }
    /* line 117, ../../../src/scss/_canvas.scss */
    #canvas .table .cell {
      display: table-cell;
      font-size: 12px; }
    /* line 122, ../../../src/scss/_canvas.scss */
    #canvas .table .cell .cell:hover {
      background: #eee;
      -webkit-transition: background 0.3s linear;
      transition: background 0.3s linear; }
      /* line 127, ../../../src/scss/_canvas.scss */
      #canvas .table .cell .cell:hover .cell {
        background: white; }
      /* line 131, ../../../src/scss/_canvas.scss */
      #canvas .table .cell .cell:hover .cell:hover {
        background: #eee; }
    /* line 137, ../../../src/scss/_canvas.scss */
    #canvas .table .cell .cell {
      display: table-cell; }
    /* line 141, ../../../src/scss/_canvas.scss */
    #canvas .table .cell .cell .cell {
      border: 0; }
    /* line 145, ../../../src/scss/_canvas.scss */
    #canvas .table .table {
      height: 100%;
      border: 0; }
    /* line 150, ../../../src/scss/_canvas.scss */
    #canvas .table .spacer {
      padding: 10px;
      height: 100%;
      height: -webkit-calc(100% + 20px);
      height: calc(100% + 20px); }
    /* line 157, ../../../src/scss/_canvas.scss */
    #canvas .table {
      border: 2px solid black; }
    /* line 161, ../../../src/scss/_canvas.scss */
    #canvas .table .table {
      border: 0; }
    /* line 165, ../../../src/scss/_canvas.scss */
    #canvas .table .row.first > .cell {
      border-bottom: 2px solid black; }
    /* line 169, ../../../src/scss/_canvas.scss */
    #canvas .table > .row > .cell > .table > .row > .cell {
      border-right: 2px solid black; }
    /* line 173, ../../../src/scss/_canvas.scss */
    #canvas .table .table > .row > .cell > .table > .row > .cell {
      border-right: 0; }
    /* line 177, ../../../src/scss/_canvas.scss */
    #canvas .table .table > .row > .cell > .table > .row:first-child > .cell {
      border-bottom: 2px solid black;
      height: 50%; }
    /* line 182, ../../../src/scss/_canvas.scss */
    #canvas .table > .row > .cell > .table > .row > .cell:last-child {
      border-right: 0; }
    /* line 188, ../../../src/scss/_canvas.scss */
    #canvas .row.first {
      height: 70%; }
    /* line 192, ../../../src/scss/_canvas.scss */
    #canvas .row.second {
      height: 30%; }
    /* line 196, ../../../src/scss/_canvas.scss */
    #canvas .row.first .cell {
      width: 20%; }
    /* line 200, ../../../src/scss/_canvas.scss */
    #canvas .row.second .cell {
      width: 50%; } }
@media all and (max-width: 767px) {
  /* line 216, ../../../src/scss/_canvas.scss */
  #canvas .info .col {
    margin: 8px 0; }
  /* line 221, ../../../src/scss/_canvas.scss */
  #canvas .cell .cell {
    border: 2px solid black;
    margin: 16px 0; }
  /* line 226, ../../../src/scss/_canvas.scss */
  #canvas .row.first .cell .cell:nth-child(2),
  #canvas .row.first .cell .cell:nth-child(4) {
    border: 0;
    margin: 0; }
  /* line 232, ../../../src/scss/_canvas.scss */
  #canvas .spacer {
    padding: 8px; }
  /* line 236, ../../../src/scss/_canvas.scss */
  #canvas .content {
    min-height: 5em; }
    /* line 240, ../../../src/scss/_canvas.scss */
    #canvas .content:focus {
      outline: 0; }

  /* line 248, ../../../src/scss/_canvas.scss */
  .canvas-preview {
    width: 100%; } }
/* line 255, ../../../src/scss/_canvas.scss */
.canvas-preview {
  border: 2px solid #000;
  padding: 8px;
  display: inline-block;
  margin: 0 8px 8px 0; }
  /* line 262, ../../../src/scss/_canvas.scss */
  .canvas-preview h1, .canvas-preview h2 {
    margin: 0;
    font-weight: bold; }
  /* line 267, ../../../src/scss/_canvas.scss */
  .canvas-preview ul {
    padding: 0; }
  /* line 271, ../../../src/scss/_canvas.scss */
  .canvas-preview a {
    color: inherit;
    text-decoration: none; }
  /* line 276, ../../../src/scss/_canvas.scss */
  .canvas-preview .delete {
    float: right;
    color: #C02020; }

/* line 13, ../../../src/scss/custom.scss */
main {
  height: 100%; }

/* line 17, ../../../src/scss/custom.scss */
#main {
  padding: 16px 64px 16px 64px;
  position: relative; }

/* line 22, ../../../src/scss/custom.scss */
#models-list {
  padding: 0; }
  /* line 26, ../../../src/scss/custom.scss */
  #models-list li {
    margin: 0;
    list-style: none; }
  /* line 31, ../../../src/scss/custom.scss */
  #models-list > li {
    float: left; }

@media all and (max-width: 768px) {
  /* line 38, ../../../src/scss/custom.scss */
  #models-list > li {
    float: none; }

  /* line 42, ../../../src/scss/custom.scss */
  #main {
    padding-right: 16px; } }
/* line 47, ../../../src/scss/custom.scss */
.ok {
  color: #167416; }

/* line 51, ../../../src/scss/custom.scss */
.warning {
  color: #C02020; }

/* line 55, ../../../src/scss/custom.scss */
.errors {
  background: #ffefef;
  padding: 12px;
  border: 2px solid #b61010;
  color: #b61010;
  display: none; }
  /* line 63, ../../../src/scss/custom.scss */
  .errors.is-visible {
    display: block; }
  /* line 67, ../../../src/scss/custom.scss */
  .errors p {
    margin: 0; }

/* line 73, ../../../src/scss/custom.scss */
[name="model-name"] {
  width: 320px;
  max-width: 100%; }

/*# sourceMappingURL=custom.css.map */