* {
	box-sizing: border-box;
}

body {
	background: $background-color;
	color: $text-color;
	font-size: 16px;
	line-height: 24px;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	color: #1197B8;
	line-height: 1.33em;
}

h1:first-child {
	margin-top: 0;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	color: #1197B8;
	line-height: 1.33em;
}

label {
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
}

input[type="text"] {
	padding: 12px;
}

button {
	padding: 8px 22px;
	font-weight: bold;
	letter-spacing: 0.07em;
}