* {
	box-sizing: border-box;
}

body {
	background: $background-color;
	color: $text-color;
	font-size: 13px;
	line-height: 19px;
}

h1 {
	font-size: 18px;
	font-weight: normal;
}

h1:first-child {
	margin-top: 0;
}

label {
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
}

#menu a {
	color: white;
}