@import "config";
@import "colors";

@import "defaults";

@import "ui";
@import "minigrid";
@import "menu";
@import "canvas";

header {
	padding-top: 8px;
}

main {
	height: 100%;
}

#main {
	padding: 16px 16px 16px 64px;
}